.menu-mobile-toggle {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-mobile-toggle:hover {
    background-color: #ff6600; /* Altere a cor para a cor desejada */
  }
  
  .menu-mobile {
    display: none;
    text-align: center;
    padding: 10px;
  }
  
  .menu-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-mobile ul li {
    margin-bottom: 10px;
  }
  
  .menu-mobile ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .menu-mobile ul li a:hover {
    color: #ff6600; /* Altere a cor para a cor desejada */
  }
  